*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans_serif;
}
.container{
    width: 980px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: red;
}
header h1{
    padding: 15px;
    text-align: center;
    color: aliceblue;
}
header p{
    text-align: center;
    font-size: 16px;
    color: aliceblue;
}
nav{
    height: 35px;
    background: blue;
    margin-bottom: 5px;
}
nav .menu ul{
    list-style: none;
}
nav .menu li{
    position: relative;
}
nav .menu ul li {
    float: left;
    line-height: 35px;
    padding: 0 15px;
    position: relative;
}
nav .menu ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    display: block;
    
}
nav .menu ul li:hover{
    background: gray;
    border-radius: 3px;
}
nav .menu ul li a::after{
     content: "";
     position: absolute;
     height: 3px;
     width: 100%;
     transform: scaleX(0);
     background-color: rgb(255, 47, 47);
     bottom: 0;
     left: 0;
     transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .menu ul li a:hover::after{
    transform: scaleX(1);
}
nav ul.submenu{
    width: 120px;
    background: blue;
    min-height: 160px;
    display: none;
    position: absolute;
}
nav ul.submenu li  {
   list-style: none;
}

nav ul.submenu li a{
   color: aliceblue;
   text-decoration: none;
   display: block;
   width: 90px;
   line-height: 40px;
   text-indent: 10px;
   font-size: 14px;
}
nav ul.submenu li a:hover {
    background: grey;
    border-radius: 3px;
}
nav ul > li:hover ul.submenu {
    display: block;
}
  
nav  .login-buttons a {
    height: 15px;
    display: inline-block;
    color: black;
    padding: 10px 20.2px;
    border: none;
    text-decoration: none;
    font-size: 18px;
    background: greenyellow;
}

nav  .login-buttons a:hover{
    background: gray;
    border-radius: 3px;
}

nav .search{
    line-height: 35px;
    float: right;
}
article h2{
    text-align: center;
    color: blueviolet;
    font-size: 15px;
    text-transform: uppercase;
}
article .newlist .new_1{
    width: 27%;
    padding: 3%;
    margin: 0;
    float: left; 
}
 /* xoa dau gach duoi the a */
a {
    text-decoration: none;
}
article h4{
    text-align: center;
    color: blueviolet;
    font-size: 15px;
    text-transform: uppercase;
}
article .newlist2 .new_2{
    width: 27%;
    padding: 3%;
    margin: 0;
    float: left; 
}